html, body, #page {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}


h1, h2 {
    margin: 0;
}

#header {
    position: fixed;
    display: flex;
    padding: 4px 4%;
    width: 92%;
    min-height: 70px;
    background-color: #fff; 
}

#brand {
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#header-name {
    font-family: 'Lato', sans-serif;
    color: #273c75;
    margin: 0;
    padding: 0 4px;
    font-size: 26px;
}

#header-img {
    width: 70px;
    height: 70px;
}

#nav-bar {
    display: flex;
    align-items: center;
}

.nav-link {
    margin-left: 20px;
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    color: #c23616;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

#hero {
    background-image: url("../img/students.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

#hero h1 {
    font-size: 60px;
    color: #fff;
}

#hero h2 {
    font-size: 40px;
    color: #fff;    
}

.container {
    max-width: 1000px;
    flex-direction: column;
    margin: 0 auto;
}

#about {
    display: flex;
    flex-direction: column;
}

#video {
    margin: 20px 0;
    width: 96%;
    padding: 0 2%;
    height: 450px;
}

#tuition {
    display: flex;
    width: 96%;
    padding: 20px 2%;
}

.card {
    width: 33.33%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card h2 {
    margin-bottom: 10px;
}


#contact {
    padding: 20px 2%;
    text-align: center;
}

#email {
    width: 50%;
    font-size: 14px;
    padding: 6px 8px;
}

#submit {
    font-size: 14px;
    padding: 8px 10px;
    background-color: #273c75;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn {
    background-color: #e84118;   
    padding: 8px 12px; 
    margin: 10px auto;
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    background-color: #c23616;     
}

@media screen and (max-width: 600px){
    #header {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4px 4%;
        width: 92%;
        min-height: 70px;
        background-color: #fff; 
    }

    #nav-bar {
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
}